.shop {
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 30px;
  padding: 0 120px;
  margin-bottom: 100px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
